= form_for @add_user_to_group do |f|
  -if @add_user_to_group.errors.any?
    #error_explanation
      %h2= "#{pluralize(@add_user_to_group.errors.count, "error")} prohibited this add_user_to_group from being saved:"
      %ul
        - @add_user_to_group.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
